.nav-menu {
  display: flex;
  justify-content: space-around;

}
.nav-menu > a {
  color: black;
  font-weight: 100;
  font-family: sans-serif;
  font-size: 8px;
  margin-top: 2.3rem;
  letter-spacing: 2px;

}
.nav-menu > a:hover {
  text-decoration: none;
  color:black;
}
.nav-menu > a > img {
  margin-top: -2.1rem;
  width: 80px;

}
